<form [formGroup]="loginForm" (ngSubmit)="submitUser(loginForm)">
    <app-fa-input icon="person-circle">
        <input appInputRef type="text" formControlName="username" placeholder="Usuario" >
    </app-fa-input>
    <div class="d-flex justify-content-center" *ngIf="usernameError|async as text">
        <span *ngIf="text==='required'">*Campo requerido</span>
        <span *ngIf="text==='invalidUsername'">*Caracteres invalidos</span>
    </div><br>
    <app-fa-input icon="file-earmark-lock2">
      <input appInputRef type="password" formControlName="password" placeholder="Contraseña" >
    </app-fa-input>
    <div class="d-flex justify-content-center" *ngIf="passwordError|async as text">
        <span *ngIf="text==='required'">*Campo requerido</span>
        <span *ngIf="text==='invalidPassword'">*Caracteres invalidos</span>
    </div><br>
    <button type="submit"  class="rounded-pill pr-5 pl-5">LOGIN</button>
</form>
<div class="d-flex justify-content-center" *ngIf="submitResult|async as text">
    <span *ngIf="text==='incorrect'">*Incorrect username/password</span>
    <span *ngIf="text==='error'">*Sin conexion</span>
</div>
