<div class="d-flex justify-content-center">
    <p class="font-weight-bold">Coincidencias para "{{$coincidenceString}}"</p>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Compra</th>
            <th>Venta</th>
            <th>Existencia</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of productosObservable | async">
        <tr>
            <td><a class="nav-link" [routerLink]="['../../../buscar/codigo/'+product.codigobarra]">{{product.codigobarra}}</a></td>
            <td>{{product.descripcion}}</td>
            <td>{{product.preciocompra}}</td>
            <td>{{product.precioventa}}</td>
            <td>{{product.existencia}}</td>
        </tr>
    </tbody>
</table>
